html { 
  background: url(images/abstract.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* html {
  background-color: white;
} */

.title {
  text-align: center;
  font-size: 60px;
  color: teal;
  margin-top: 100px;
  margin-bottom: 70px;
  font-family: Montserrat;
}

.welcome {
  text-align: center;
  margin-top: 20%;
}

.container {
  align-items: center; 
  width: auto;
}

.about-me {
  color: black;
  font-family: Montserrat;
  font-size: 16pt;
  margin: 400px;
  margin-top: 50px;
}

.pfp {
  display:block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.row {
  display: block;
  width: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.project {
  color: orange;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: teal;
  text-align: center;
}

h2 {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

p {
  padding: 6px;
}

a {
  color: darkgoldenrod
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration:  none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  color: teal;
}

li {
  margin: 15px;
}

img.head {
  text-align: center;
  margin:auto;
}